{% extends 'collection_record/collection_record/edit.html' %}

{%block uploader_head%}{%endblock uploader_head%}
{%block bodytitle%}<h1>Add a Collection Record to the OAC</h1>{%endblock bodytitle%}
{%block submit_top %}<input style="float:right" name="submit" type="submit" value="Create record"/>{%endblock submit_top %}
{%block submit_bottom%}<input style="float:right" name="submit" type="submit" value="Create record"/>{%endblock submit_bottom%}
{%block supplemental_files%}{%endblock supplemental_files%}
{%block uploader%}{%endblock uploader%}
{%block uploader_footer%}{%endblock uploader_footer%}
{%block pagescripts %}
<script type="text/javascript">
    //hide the ark input and "replace with a button"
    //when button pressed, show field
</script>
{%endblock pagescripts %}
{%block upload_form %}{%endblock upload_form %}
