{% extends 'collection_record/collection_record/edit.html' %}

{%block bodytitle%}<h1>Preview the Collection Record to add to the OAC</h1>{%endblock bodytitle%}
        
{%block submit_top %}<input style="float:right" name="submit" type="submit" value="Create record"/><input type="hidden" name="previewed" value="true" />{%endblock submit_top %}

{%block submit_bottom%}<input style="float:right" name="submit" type="submit" value="Create record"/><input type="hidden" name="previewed" value="true" />{%endblock submit_bottom%}
