{% extends 'collection_record/base.html' %}
{%block pagetitle%}{{pagetitle}}{%endblock pagetitle%}

{%block bodycontent%}
{%comment%}{% if collection_record %}<a class="button" href="{{collection_record.get_absolute_url|safe}}">View</a>{% endif %}{%endcomment%}
<div class="container" id="bodycontainer">
    <div class="area span-24 pageheader">
        {%block bodytitle%}<h1>Edit Collection Record : {{ collection_record.ark }}</h1>{%endblock bodytitle%}
    </div>
    <div class="area span-24">
        <div class="span-24">
        <span class="last" style="float:right">{%include "collection_record/help_link.html"%}</span>
    </div>
    <div class="span-24">
    <fieldset>
        <form action="" method="POST" id="main_form" name="main_form">
        {%csrf_token%}
        {% if form_main.errors or formset_errors %}<h3 class="orangetext errorbox">Please fix the errors below -- {{form_main.errors}}</h3>{%endif%}
        {% if upload_form.errors %}<h3 class="orangetext errorbox">File upload failed. Please see errors in the <a href="#upload_form">upload file section</a></h3>{%endif%}
        {% block submit_top %}
        <input style="float:right" name="submit" type="submit" value="Update record"/>
        {% endblock submit_top %}
        <h3>Basic Information</h3>
        <h5 class="orangetext">* indicates required field</h5>
        {%for field in form_main%}
        <div class="span-22{%if field.errors%} errorbox {%endif%}">
        <span class="span-5"><label>
            {{field.label}}{%if field.field.required %}<span class="orangetext">*</span>{%endif%}</label>
        </span>
        <span class="span-17 last">{{field}}&nbsp;{{field.help_text}}
            {%for err in field.errors %}
                <span class="errorlist">{{err}}</span>
                {% endfor %}
        </span>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset>
        <h3>Creators</h3>
        <fieldset id="id_fieldset_persname">
            <h4>Personal Names</h4>
            {{ formset_person.management_form }}
            {% for form in formset_person %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_familyname">
            <h4>Family Names</h4>
            {{ formset_family.management_form }}
            {% for form in formset_family %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_orgname">
            <h4>Organization Names</h4>
            {{ formset_organization.management_form }}
            {% for form in formset_organization %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
    </fieldset>
    <fieldset>
        <h3>Subject Headings</h3>
        <fieldset id="id_fieldset_topic">
            <h4>Topics</h4>
            {{ formset_topic.management_form }}
            {% for form in formset_topic %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_person_name">
            <h4>Personal Names</h4>
            {{ formset_subject_person_name.management_form }}
            {% for form in formset_subject_person_name %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_family_name">
            <h4>Family Names</h4>
            {{ formset_subject_family_name.management_form }}
            {% for form in formset_subject_family_name %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_organization_name">
            <h4>Organization Names</h4>
            {{ formset_subject_organization_name.management_form }}
            {% for form in formset_subject_organization_name %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_geog">
            <h4>Geographical Locations</h4>
            {{ formset_geog.management_form }}
            {% for form in formset_geog %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
           {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_genre">
            <h4>Form/Genres of Materials</h4>
            {{ formset_genre.management_form }}
            {% for form in formset_genre %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_title">
            <h4>Titles</h4>
            {{ formset_subject_title.management_form }}
            {% for form in formset_subject_title %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_function">
            <h4>Functions</h4>
            {{ formset_subject_function.management_form }}
            {% for form in formset_subject_function %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_occupation">
            <h4>Occupations</h4>
            {{ formset_subject_occupation.management_form }}
            {% for form in formset_subject_occupation %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class="hide">{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        {%block supplemental_files%}
        <fieldset id="supplemental_files">
            <h4>Supplemental Files</h4>
            {{ formset_supp_files.management_form }}
            {% for form in formset_supp_files %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class="hide" id="file-id">{{form.id}}</span>
            <label class="span-8" id="file-name">{{form.filename.value}}</label>
            <label class="span-3" id="label-input">Display Label</label>
                {{form.label}}
                {{form.DELETE}} Delete
                {{form.filename}}
            </div>
            {% endfor %}
        </fieldset>
        {%endblock supplemental_files%}
        {%block submit_bottom%}
        <input style="float:right" name="submit" type="submit" value="Update record"/>
        {%endblock submit_bottom%}
        </form>
    </div>
    {%block upload_form %}
    <div class="span-24">
        <fieldset>
        <h4>Upload a Supplemental File</h4>
        <form id="upload_form" action="" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            {{upload_form}}
        <input style="float:right" name="submit" type="submit" value="Upload file"/>
        </form>
        </fieldset>
    </div>
    </div>
    {%endblock upload_form %}
</div>
<script type="text/javascript" src="/site_media/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.formset.js"></script>
<script type="text/javascript">
    $(function() {
        $('#id_fieldset_persname div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_person.prefix}}"
        });
        $('#id_fieldset_familyname div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_family.prefix}}"
        });
        $('#id_fieldset_orgname div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_organization.prefix}}"
        });
        $('#id_fieldset_topic div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_topic.prefix}}"
        });
        $('#id_fieldset_subject_person_name div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_person_name.prefix}}"
        });
        $('#id_fieldset_subject_family_name div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_family_name.prefix}}"
        });
        $('#id_fieldset_subject_organization_name div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_organization_name.prefix}}"
        });
        $('#id_fieldset_geog div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_geog.prefix}}"
        });
        $('#id_fieldset_genre div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_genre.prefix}}"
        });
        $('#id_fieldset_subject_title div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_title.prefix}}"
        });
        $('#id_fieldset_subject_function div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_function.prefix}}"
        });
        $('#id_fieldset_subject_occupation div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_occupation.prefix}}"
        });
    });
</script>
{%block pagescripts %}{%endblock pagescripts %}
{%endblock bodycontent%}
