{% extends 'collection_record/base.html' %}
{%block pagetitle%}{{pagetitle}}{%endblock pagetitle%}
{%block extrahead %}
<style type="text/css"> h4 { font-weight:bold;}</style>
<style type="text/css">
    .add-row {
        padding-left:18px;
        padding-top:10px;
        display:block;
        background:url(/site_media/images/formsets/add.png) no-repeat left center;
    }
    .delete-row {
        /*float:right;
        display:block;*/
        vertical-align:middle;
        margin-left:4px;
        padding-left:18px;
        background:url(/site_media/images/formsets/delete.png) no-repeat left center;
    }
</style>
<style type="text/css">
 textarea {
    width: 560px;
    height: 40px;
    vertical-align: bottom;
    }
 .orangetext {
      color: #C2492C;
 }
 .errorbox {
    background-color:yellow;
 }
 .empty-form {
        display:none;
 }
 .dynamic-fieldset-form textarea {
        width:40em;
        height:1.3em;
 }
 .button {
    float:right;
    background-color:#C2492C;
    color:white;
    border-radius:10px;
    font-size:30px;
    margin:5px;
    text-decoration:none;
    padding:7px;
    vertical-align:baseline;
    line-height:1.5;
}
</style>

{%comment%}
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
{%endcomment%}
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>

{%block uploader_head%}
<link rel="stylesheet" href="/site_media/js/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css"/>
{%endblock uploader_head%}
{%endblock extrahead %}

{%block bodycontent%}
{% if collection_record %}<a class="button" href="{{collection_record.get_absolute_url|safe}}">View</a>
    {% endif %}
<div class="container" id="bodycontainer">
    <div class="area span-24 pageheader">
        {%block bodytitle%}<h1>Edit Collection Record : {{ collection_record.ark }}</h1>{%endblock bodytitle%}
    </div>
    <div class="area span-24">
<form action="" method="POST">
    {%csrf_token%}
    <fieldset>
        {% if form_main.errors or formset_errors %}<h3 class="orangetext errorbox">Please fix the errors below -- {{form_main.errors}}</h3>{%endif%}
        {% block submit_top %}
        <input style="float:right" name="submit" type="submit" value="Update record"/>
        {% endblock submit_top %}
        <h3>Basic Information</h3>
        <h5 class="orangetext">* indicates required field</h5>
        {%for field in form_main%}
        <div class="span-23{%if field.errors%} errorbox {%endif%}">
        <span class="span-5"><label>
            {{field.label}}{%if field.field.required %}<span class="orangetext">*</span>{%endif%}</label>
        </span>
        <span class="span-18 last">{{field}}&nbsp;{{field.help_text}}
            {%for err in field.errors %}
                <span class="errorlist">{{err}}</span>
                {% endfor %}
        </span>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset>
        <h3>Creators</h3>
        <fieldset id="id_fieldset_persname">
            <h4>Personal Names</h4>
            {{ formset_person.management_form }}
            {% for form in formset_person %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_familyname">
            <h4>Family Names</h4>
            {{ formset_family.management_form }}
            {% for form in formset_family %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_orgname">
            <h4>Organization Names</h4>
            {{ formset_organization.management_form }}
            {% for form in formset_organization %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
    </fieldset>
    <fieldset>
        <h3>Subject Headings</h3>
        <fieldset id="id_fieldset_topic">
            <h4>Topics</h4>
            {{ formset_topic.management_form }}
            {% for form in formset_topic %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_person_name">
            <h4>Personal Names</h4>
            {{ formset_subject_person_name.management_form }}
            {% for form in formset_subject_person_name %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_family_name">
            <h4>Family Names</h4>
            {{ formset_subject_family_name.management_form }}
            {% for form in formset_subject_family_name %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_organization_name">
            <h4>Organization Names</h4>
            {{ formset_subject_organization_name.management_form }}
            {% for form in formset_subject_organization_name %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_geog">
            <h4>Geographical Locations</h4>
            {{ formset_geog.management_form }}
            {% for form in formset_geog %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
           {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_genre">
            <h4>Form/Genres of Materials</h4>
            {{ formset_genre.management_form }}
            {% for form in formset_genre %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_title">
            <h4>Titles</h4>
            {{ formset_subject_title.management_form }}
            {% for form in formset_subject_title %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_function">
            <h4>Functions</h4>
            {{ formset_subject_function.management_form }}
            {% for form in formset_subject_function %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class='hide'>{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset id="id_fieldset_subject_occupation">
            <h4>Occupations</h4>
            {{ formset_subject_occupation.management_form }}
            {% for form in formset_subject_occupation %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class="hide">{{form.id}}{{form.term}}{{form.qualifier}}</span>
            <label class="span-5">{{form.content.label}}</label>
                {{form.content}}
                {{form.DELETE}}
            </div>
            {% endfor %}
        </fieldset>
        {%block supplemental_files%}
        <fieldset id="supplemental_files">
            <h4>Supplemental Files</h4>
            {{ formset_supp_files.management_form }}
            {% for form in formset_supp_files %}
            <div class="{% if form.errors %}errorbox{%endif%}{% if form.is_empty%} empty-form{%endif%}">
            {% if form.errors %}
                <span class="errorlist">{{form.errors}}</span>
            {% endif %}
            <span class="hide" id="file-id">{{form.id}}</span>
            <label class="span-5" id="file-name">{{form.filename.value}}</label>
            <label class="span-3" id="label-input">Display Label</label>
                {{form.label}}
                {{form.DELETE}}
                {{form.filename}}
            </div>
            {% endfor %}
            {%block uploader%}
                <div id="filelist"></div>
                <div id="uploader"><button id="pickfile" >Your browser doesn't support our javascript uploader</button></div>
            {%endblock uploader%}
        </fieldset>
        {%endblock supplemental_files%}
        {%block submit_bottom%}
        <input style="float:right" name="submit" type="submit" value="Update record"/>
        {%endblock submit_bottom%}
        </form>
    </div>
</div>
<script type="text/javascript" src="/site_media/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/site_media/js/jquery-1.7.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.formset.js"></script>
<script type="text/javascript">
    $(function() {
        $('#id_fieldset_persname div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_person.prefix}}"
        });
        $('#id_fieldset_familyname div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_family.prefix}}"
        });
        $('#id_fieldset_orgname div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_organization.prefix}}"
        });
        $('#id_fieldset_topic div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_topic.prefix}}"
        });
        $('#id_fieldset_subject_person_name div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_person_name.prefix}}"
        });
        $('#id_fieldset_subject_family_name div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_family_name.prefix}}"
        });
        $('#id_fieldset_subject_organization_name div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_organization_name.prefix}}"
        });
        $('#id_fieldset_geog div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_geog.prefix}}"
        });
        $('#id_fieldset_genre div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_genre.prefix}}"
        });
        $('#id_fieldset_subject_title div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_title.prefix}}"
        });
        $('#id_fieldset_subject_function div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_function.prefix}}"
        });
        $('#id_fieldset_subject_occupation div').formset({
            formCssClass: 'dynamic-fieldset-form',
            prefix: "{{formset_subject_occupation.prefix}}"
        });
    });
</script>
{%block uploader_footer%}
<script type="text/javascript" src="/site_media/js/plupload/plupload.full.js"></script>
<script type="text/javascript" src="/site_media/js/plupload/jquery.ui.plupload/jquery.ui.plupload.js"></script>
<script type="text/javascript" src="/site_media/js/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
<script type="text/javascript">
$(function() {
    //create a django formset object to ease use?
        /*
    $('#supplemental_files div').formset({
        formCssClass: 'dynamic-fieldset-form',
        prefix: "supp_files"
    });
    */
    config = {
       runtimes : 'gears,html5,html4,',
       url : '{% url collection_record.views.add_supplemental_file ark=collection_record.ark %}',
       browse_button : 'pickfile',
       container : 'uploader',
       max_file_size : '1mb',
       chunk_size: '1mb',
       unique_names : false,
       multipart: true,
       headers : {'X-Requested-With' : 'XMLHttpRequest', 'X-CSRFToken' : '{{csrf_token}}'},
   };
    var uploader = new plupload.Uploader(config);
   $("#uploader").uploader = uploader;

   /*
   $('form').submit(function(e) {
       var uploader = $('#uploader').pluploadQueue();

       // Validate number of uploaded files
       if (uploader.total.uploaded == 0) {
           // Files in queue upload them first
           if (uploader.files.length > 0) {
               // When all files are uploaded submit form
               uploader.bind('UploadProgress', function() {
                   if (uploader.total.uploaded == uploader.files.length)
                       $('form').submit();
               });

               uploader.start();
           } else {
               alert('You must at least upload one file.');
           }

           e.preventDefault();
       }
   });
   */
   uploader.init();
   $("#pickfile").text('Select a file to upload');

   uploader.bind('FilesAdded', function(up, files) {
        $.each(files, function(i, file) {
            $('#filelist').append(
                '<div id="' + file.id + '">' +
                file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
            '</div>');
        });

        up.refresh(); // Reposition Flash/Silverlight
        up.start();
    });

    uploader.bind('UploadProgress', function(up, file) {
        $('#' + file.id + " b").html(file.percent + "%");
    });

    uploader.bind('Error', function(up, err) {
        $('#filelist').append("<div>Error: " + err.code +
            ", Message: " + err.message +
            (err.file ? ", File: " + err.file.name : "") +
            "</div>"
        );
 
        up.refresh(); // Reposition Flash/Silverlight
    });

    updateElementIndex = function(elem, prefix, ndx) {
        var idRegex = new RegExp(prefix + '-(\\d+|__prefix__)-'),
             replacement = prefix + '-' + ndx + '-';
        if (elem.attr("for")) elem.attr("for", elem.attr("for").replace(idRegex, replacement));
        if (elem.attr('id')) elem.attr('id', elem.attr('id').replace(idRegex, replacement));
        if (elem.attr('name')) elem.attr('name', elem.attr('name').replace(idRegex, replacement));
    },

    uploader.bind('FileUploaded', function(up, file, data) {

            //cheesy but works...
            location.reload();
            /*
            //should update the formset for assoc files
            //look at total num forms and get the empty-form
            //update total num and sub id (which is cur tot. num)
            var tot_num = $('#id_supplementalfile_set-TOTAL_FORMS').val(); 
            //do it the regex way
            var empty_form = $('.empty-form', $('#supplemental_files'));

            var new_form = empty_form.clone();
            new_form.removeClass('empty-form');
            new_form.addClass('dynamic-fieldset-form');
            //regex here
            var data_obj = jQuery.parseJSON(data.response);
            $('#id_supplementalfile_set-__prefix__-id', new_form).val(data_obj.pk);
            updateElementIndex($('#id_supplementalfile_set-__prefix__-id', new_form), '', tot_num);
            updateElementIndex($('#id_supplementalfile_set-__prefix__-label', new_form), '', tot_num);
            updateElementIndex($('#id_supplementalfile_set-__prefix__-DELETE', new_form), '', tot_num);
            $('#id_supplementalfile_set-__prefix__-filename', new_form).val(file.name);
            updateElementIndex($('#id_supplementalfile_set-__prefix__-filename', new_form), '', tot_num);
            $('#file-name', new_form).text(file.name);
            $('#supplemental_files').append(new_form);
            $('#id_supplementalfile_set-TOTAL_FORMS').val(tot_num+1); 

/*            $('#supplemental_files').append(
                '<div id="' + file.id + '_supp">' +
                file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
            '</div>');
            $('#' + file.id + " b").remove();//.html("100%");
            $('#' + file.id ).remove();//.html("100%");

            */
    });

});
</script>
{%endblock uploader_footer%}
{%endblock bodycontent%}
