{% extends "collection_record/base.html" %}
{% block pagetitle %}Collection Records{% endblock pagetitle %}

{% block bodycontent %}
<div class="container" id="collection_record">
      <div class="area span-24">
        <div class="span-24">
          <span class="span-16">
          <h2>Collection Records in system: {{object_list|length}}</h2>
          </span>
          <span class="span-5">
          <strong><a style="vertical-align:bottom" class="right" href="{% url collection_record.views.add_collection_record %}"><img src="/site_media/css/blueprint-css/icons/add.png"/>Add a collection record.</a></strong>
          </span>
          <span class="span-3 last right">{%include "collection_record/help_link.html"%}
          </span>
        </div>
        <div class="span-24">
            <table>
                <tr>
            <td class="span-8"><strong>Filing Title</strong></td>
        <td class="span-2"><strong>Local ID</strong></td>
        <td class="span-4"><strong>Updated</strong></td>
        <td class="span-4"><strong>Created</strong></td>
        <td class="span-4"><strong>Link to EAD xml</strong></td>
        </tr>
        {%for obj in object_list %}
        <tr>
        <td class="span-8"><a href="{{obj.get_absolute_url|safe}}">{{obj.title_filing}}</a></td>
        <td class="span-2"><a href="{{obj.get_absolute_url|safe}}">{{obj.local_identifier}}</a></td>
        <td class="span-4"><a href="{{obj.get_absolute_url|safe}}">{{obj.updated_at}}</a></td>
        <td class="span-4"><a href="{{obj.get_absolute_url|safe}}">{{obj.created_at}}</a></td>
        <td class="last span-1"><a href="{{obj.get_xml_url|safe}}">[xml]</a></td>
        {%endfor%}
    </table>
    </div>
    </div>
</div>
{% endblock bodycontent %}



