{% extends "collection_record/base.html" %}
{% load url from future %}
{% load sortable %}
{% block pagetitle %}Collection Records{% endblock pagetitle %}

{% block bodycontent %}
<div class="container" id="collection_record">
      <div class="area span-24">
        <div class="span-24">
        <div>
          <span class="span-21">&nbsp;</span>
          <span class="span-3 last right">{%include "collection_record/help_link.html"%}
          </span>
          <hr/>
        </div>
        <div>
          <span class="span-16">
          <h2>Collection Records in system: {{object_list|length}}</h2>
          </span>
          <span class="span-7" style="vertical-align:bottom">
          <strong class="large"><a class="right" href="{% url "collection_record.views.add_collection_record" %}"><img src="/site_media/css/blueprint-css/icons/add.png"/>Add a collection record.</a></strong>
          </span>
      </div>
      </div>
        <div class="span-24">
            <table>
                <thead>
                <tr class="span-24">
                    <th class="span-8">{% sortable_link title_filing "Filing Title" %}</th>
                    <th class="span-2">{% sortable_link local_identifier "Local ID" %}</th>
                    <th class="span-4">{% sortable_link updated_at "Updated At" %}</th>
                    <th class="span-4">{% sortable_link created_at "Created At" %}</th>
                    <!--
            <td class="span-8"><strong>Filing Title</strong></td>
        <td class="span-2"><strong>Local ID</strong></td>
        <td class="span-4"><strong>Updated</strong></td>
        <td class="span-4"><strong>Created</strong></td>
        -->
                    <th class="span-3"><strong>Link to EAD xml</strong></th>
                </tr>
                </thead>
        <tbody>
        {%for obj in collection_record_sortable %}
        <tr class="span-24">
        <td class="span-9"><a href="{{obj.get_absolute_url|safe}}">{{obj.title_filing}}</a></td>
        <td class="span-2"><a href="{{obj.get_absolute_url|safe}}">{{obj.local_identifier}}</a></td>
        <td class="span-4"><a href="{{obj.get_absolute_url|safe}}">{{obj.updated_at}}</a></td>
        <td class="span-4"><a href="{{obj.get_absolute_url|safe}}">{{obj.created_at}}</a></td>
        <td class="last span-1"><a href="{{obj.get_xml_url|safe}}">[xml]</a></td>
        {%endfor%}
        </tbody>
    </table>
    </div>
    </div>
</div>
{% endblock bodycontent %}



