{% extends 'collection_record/base.html' %}
{%block pagetitle%}Add a Collection Record{%endblock pagetitle%}
{%block extrahead %}
{%comment%}
<style type="text/css"> h4 { font-weight:bold;}</style>
<style type="text/css">
    .add-row {
        padding-left:18px;
        padding-top:10px;
        display:block;
        background:url({{ STATIC_URL }}images/formsets/add.png) no-repeat left center;
    }
    .delete-row {
        /*float:right;
        display:block;*/
        vertical-align:middle;
        margin-left:4px;
        padding-left:18px;
        background:url({{ STATIC_URL }}images/formsets/delete.png) no-repeat left center;
    }
</style>
<style type="text/css">
 textarea {
    width: 560px;
    height: 40px;
    vertical-align: bottom;
    }
  .orangetext {
      color: #C2492C;
  }
</style>
{%endcomment%}

{%block extrahead%}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>

{%endblock extrahead %}

{%block bodycontent%}
<div class="container" id="bodycontainer">
    <div class="area span-24 pageheader">
        <h1>Collection Record {{collection_record.ark}}</h1>
    </div>
    <div class="area span-24">
    <fieldset>
        <h3>Basic Information</h3>
        <div class="span-23">
        <span class="span-5"><h4>Ead Element</h4></span>
        <span class="span-18 last"><h4>Value</h4></span>
        </div>
        {%for field, value in collection_record_dict.items %}
        <div class="span-23">
        <span class="span-5"><label>{{field}}</label></span>
        <span class="span-18 last">{{value}}</span>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset>
        <div class="span-23">
        <span class="span-5"><h4>Dublin Core Element</h4></span>
        <span class="span-18 last"><h4>Content</h4></span>
        </div>
        {%for dce in collection_record.QDCElements.all %}
        <div class="span-23">
        <span class="span-5"><label>{{dce.get_term_display}} : {{dce.qualifier}}</label></span>
        <span class="span-18 last">{{dce.content}}</span>
        </div>
        {% endfor %}
    </fieldset>
    </div>
</div>
{%endblock bodycontent%}
